/* === Reset start === */
* {
    box-sizing: border-box;
    border: 1px red solid;
}
body {
    margin: 0;
    color: #212121;
    font: 400 14px/1 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
    margin:0;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* ==== reset end ==== */
/* === Default  classes start ===*/
.text-center {
    text-align: center;
}
/* ==== Default clases end === */
/* ==== Default component start */
.conteiner {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}
.default-section {
    padding: 80px 0;
}
.title {
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 75px;
}
.title > * {
    font-size: 30px;
}
.header {
    border-bottom:2px solid #00e9ba;
    overflow: hidden;
    padding: 20px 0;
    position: fixed;
    width:100%;
    background-color: #fff;
    box-shadow: 0 3px 20px rgba( 0, 0, 0, 0.25)
}
.header .logo {
    float: left;
}
.header .header-nav {
    float: right;
}
.header .header-nav li {
    float: left; 
    line-height: 44px;
}
.header .header-nav li + li {
    margin-left: 30px;
}
.course-row {
    margin: 0 -15px;
}
.course-col {
    width: 33.3333%;
    float:left;
    padding: 0 15px;
}
.course {
    font-weight: 700;
    background-color: #fff;
    box-shadow: 0 13px 27px rgba( 0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 80px;
}
.course-img {
    margin-bottom: 20px;
}
.course-title {
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.course .course-price {
    font-size: 30px;
    color:#00e9ba;
    text-align: right;
}
/* ==== Default component end */